streamlit
langchain
langchain-community
openai
chromadb==0.4.22
protobuf==4.23.3
opentelemetry-exporter-otlp==1.21.0
python-dotenv
tiktoken
pypdf
numpy<2.0.0

# Ensures a modern sqlite3 version is bundled (required by chromadb)
pysqlite3-binary>=0.5.2 ; platform_system != "Windows"
